In [1]:
import pandas as pd

In [2]:
pwd

'C:\\Users\\tahuj'

In [7]:
variable=pd.read_csv(r"C:\Users\tahuj\Desktop\airline-safety.csv")

In [8]:
variable.head()

,airline,avail_seat_km_per_week,incidents_85_99,fatal_accidents_85_99,fatalities_85_99,incidents_00_14,fatal_accidents_00_14,fatalities_00_14
0,Aer Lingus,320906734,2,0,0,0,0,0
1,Aeroflot*,1197672318,76,14,128,6,1,88
2,Aerolineas Argentinas,385803648,6,0,0,1,0,0
3,Aeromexico*,596871813,3,1,64,5,0,0
4,Air Canada,1865253802,2,0,0,2,0,0

In [16]:
df=pd.DataFrame({'id':[100,101,102],'color':["red","green","blue"]},columns=['id','color'],index=['1','2','3'])

    id  color
1  100    red
2  101  green
3  102   blue

In [22]:
pd.Dataframe([[100,"green"],[101,"blue"],[102,'Yellow']],columns=['id','color'])

AttributeError: module 'pandas' has no attribute 'Dataframe'

In [25]:
import numpy as np

In [26]:
arr=np.random.rand(4,2)
arr

array([[0.14474031, 0.6935314 ],
       [0.5601634 , 0.19096933],
       [0.90042556, 0.91808076],
       [0.19205685, 0.6513047 ]])

In [ ]:
pd.DataFrame